<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <nav>
        <a href="/dev-skills">IRIS' DEV-SKILLS</a>&nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="/dev-skills/new">ADD DEV-SKILL</a>&nbsp;&nbsp; 
    </nav>