<%- include('../partials/header') %>

    <h1>Iris' Developer Skills</h1>
    <ul>
      <% skills.forEach(function(ds) { %>
        <li>
          <%= ds.skill %>
            - 
          <%= ds.possess ? 'Mastered' : 'Lacking' %>
        </li>
      <% }); %>
    </ul>

<%- include('../partials/footer') %>