<%- include('../partials/header') %>

<h1>New Dev-Skill</h1>

<!-- action === href of an a tag -->
<form action="/dev-skills" method="POST" autocomplete="off">
  <input type="text" placeholder="Enter New Skill" name="dev-skill">
  <input type="submit" value="ADD SKILL">
</form>

<%- include('../partials/footer') %>